input, button {
    display: block;
    margin: 20px;
    height: 20px;
  }

.botao {
    cursor: grab;
}

.botao:hover {
    background-color: blue;
    }

body {
    background-color: rgb(21, 255, 0);
}


